.vscode/**
.github/**
**/*.ts
**/*.map
.gitignore
tsconfig.json
tsconfig.base.json
webpack.config.js
contributing.md
src/**
testFixture
scripts
node_modules
!node_modules/vscode/**
!node_modules/vscode-jsonrpc/**
!node_modules/vscode-languageclient/**